---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageDescription =
  "Matt Windle, a passionate front-end developer based in Burnley";
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <div class="mx-auto max-w-7xl px-4 py-8">
    <div class="flex flex-col-reverse justify-center gap-8 sm:flex-row">
      <div>
        <h1 class="mb-4 text-3xl font-bold">About Matt Windle</h1>
        <div class="max-w-prose">
          <p class="text-gray-700">
            Hi there! I'm Matt Windle, a passionate front-end developer based in
            Burnley. My journey in web development has led me to focus on
            learning cutting-edge front-end frameworks such as React and Astro.
          </p>

          <p class="mt-4 text-gray-700">
            Currently, I am part of a dynamic team at an e-commerce SaaS
            company, where my role involves developing a new and intuitive user
            interface for our clients. This exciting project allows me to
            leverage my skills in front-end development and contribute to
            enhancing the user experience for our clients.
          </p>

          <p class="mt-4 text-gray-700">
            Whether it's crafting pixel-perfect designs or diving deep into the
            world of front-end frameworks, I am dedicated to staying at the
            forefront of web development trends to deliver high-quality
            solutions.
          </p>
        </div>
      </div>
      <div class="">
        <img
          src="https://avatars.githubusercontent.com/u/75845698"
          alt=""
          class="h-auto w-full max-w-[320px] rounded-lg object-cover object-center shadow-sm grayscale filter md:h-[450px] md:w-96"
        />
      </div>
    </div>
  </div>
</BaseLayout>
