---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <p class="text-blue-500">This is where I will post about my journey learning Astro.</p>
  <p>Check out <a href="/about">my about page</a></p>
</BaseLayout>	