---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
const pageDescription =
  "Matt Windle, a passionate front-end developer based in Burnley";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <div class="bg-gray-50">
    <div
      class="mx-auto flex h-full max-w-7xl items-center justify-center px-4 py-8 [@media(min-width:900px)]:py-0"
    >
      <div class="md:w-1/2">
        <h1 class="mb-6 text-5xl font-bold md:text-7xl">
          Matt Windle <br /><span class="text-3xl font-medium md:text-5xl"
            >I'm a Front-End Developer...</span
          >
        </h1>
        <p class="text-normal mb-6 text-gray-500 md:mb-12 md:text-lg">
          ...based in the town of Burnley, my passion for web development has
          taken me on an exhilarating journey through the ever-evolving
          landscape of technology. As the digital realm continues to evolve,
          I've made it my mission to stay ahead of the curve by delving into the
          intricacies of cutting-edge front-end frameworks.
        </p>
        <a
          href=""
          class="text-normal mr-2 inline-block rounded-md border-2 border-blue-100 bg-blue-100 px-4 py-2 font-semibold text-blue-800 transition-all hover:border-blue-200 hover:bg-blue-200 md:px-6 md:py-3 md:text-lg"
          >Download CV</a
        >
        <a
          href=""
          class="text-normal inline-block rounded-md border-2 border-gray-400 px-4 py-2 font-semibold text-gray-800 transition-all hover:border-gray-600 hover:bg-gray-800 hover:text-gray-50 md:px-6 md:py-3 md:text-lg"
          >View Projects</a
        >
      </div>
      <div class="flex h-full w-1/2 items-center justify-center">
        <img
          src="/images/profile.jpg"
          alt=""
          class="w-80 flex-shrink-0 rounded-md [@media(min-width:900px)]:hidden"
        />
        <img
          src="/images/profile.jpg"
          alt=""
          class="profile-clipmask hidden h-full w-auto object-cover object-center [@media(min-width:900px)]:block"
        />
      </div>
    </div>
  </div>
</BaseLayout>
