---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="mx-auto max-w-7xl p-10">
    <h1 class="text-7xl font-bold">Hi 👋 <br />I'm a Front-End Developer</h1>
  </div>
</BaseLayout>
