---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Portfolio";
const allProject = await Astro.glob("../pages/projects/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <section class="">
    <div class="mx-auto max-w-7xl px-5 py-4">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        {
          allProject.map((post) => {
            return <div></div>;
          })
        }
      </div>
    </div>
  </section>
</BaseLayout>
