---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Portfolio";
const allProject = await Astro.glob("../pages/projects/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <div class="mx-auto flex max-w-7xl justify-between gap-4 px-4 py-8">
    <div class="mx-auto grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2">
      {
        allProject.map((post) => (
          <div>
            <img src={post.frontmatter.image.imageURL} alt="" />
            <h2>{post.frontmatter.title}</h2>
            <a href={post.url}>Read post</a>
          </div>
        ))
      }
    </div>
  </div>
</BaseLayout>
