---
const platform = "github";
const username = "MattWindle";
import Social from "./Social.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const allPages = await Astro.glob("../pages/*.astro");
---

<footer class="bg-blue-50 px-4 py-8">
  <div class="mx-auto flex max-w-7xl gap-12">
    <ul>
      <li class="mb-2 text-lg font-medium">Blog Posts</li>
      {
        allPosts.map((post) => (
          <li class="w-64 overflow-hidden truncate hover:underline">
            <a href={post.url} class="">
              {post.frontmatter.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
