---

---

<div
  class="mx-auto flex items-center justify-center gap-4 border-b px-4 py-6 uppercase"
>
  <div class="flex w-full max-w-5xl items-center justify-between">
    <a
      href="/"
      class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-md bg-blue-100 text-2xl font-bold text-blue-800 transition-all hover:bg-blue-200"
    >
      M
    </a>
    <div>
      <a class="rounded-md p-2" href="/">Home</a>
      <a class="rounded-md p-2" href="/about">About</a>
      <a class="rounded-md p-2" href="/blog">Blog</a>
      <a class="rounded-md p-2" href="/tags">Tags</a>
    </div>
  </div>
</div>
