---

---

<div
  class="mx-auto flex items-center justify-center gap-4 border-b py-6 uppercase shadow-sm"
>
  <div class="flex w-full max-w-7xl items-center justify-between px-4">
    <a
      href="/"
      class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-md bg-blue-100 text-2xl font-bold text-blue-800 transition-all hover:bg-blue-200"
    >
      M
    </a>
    <div>
      <a class="p-2 text-sm font-medium" href="/">Home</a>
      <a class="p-2 text-sm font-medium" href="/about">About</a>
      <a class="p-2 text-sm font-medium" href="/portfolio">Portfolio</a>
      <a class="p-2 text-sm font-medium" href="/blog">Blog</a>
    </div>
  </div>
</div>
